<div id="p_peerexplorer_page" class="page">
    <section class="content-header">
        <h1 data-i18n="p_peerexplorer_peers">PeerExplorer - Plugin</h1>
        <div style="position:absolute;top:9px;right:9px;">
            <button id="about_p_peerexplorer_button" type="button" class="btn btn-default" data-toggle="modal" data-target="#p_peerexplorer_about_modal" data-i18n="p_peerexplorer_about">About</button>
        </div>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-aqua">
                    <div class="inner inner-smaller">
                        <h3><span id="p_peerexplorer_currently_online" class="loading_dots"><span>.</span><span>.</span><span>.</span></span></h3>
                        <p data-i18n="p_peerexplorer_currently_online">Currently Online</p>
                    </div>
                    <div class="icon-smaller"><i class="fa fa-line-chart"></i></div>
                    <div class="small-box-footer"></div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-green">
                    <div class="inner inner-smaller">
                        <h3><span id="p_peerexplorer_average_online" class="loading_dots"><span>.</span><span>.</span><span>.</span></span></h3>
                        <p data-i18n="p_peerexplorer_average_online">Average Online</p>
                    </div>
                    <div class="icon-smaller" style="bottom:-12px"><i class="fa fa-area-chart"></i></div>
                    <div class="small-box-footer"></div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-yellow">
                    <div class="inner inner-smaller">
                        <h3><span id="p_peerexplorer_response_time" class="loading_dots"><span>.</span><span>.</span><span>.</span></span></h3>
                        <p data-i18n="p_peerexplorer_response_time">Average Response Time (ms)</p>
                    </div>
                    <div class="icon-smaller" style="bottom:-12px"><i class="fa fa-signal"></i></div>
                    <div class="small-box-footer"></div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-red">
                    <div class="inner inner-smaller">
                        <h3><span id="p_peerexplorer_version_used" class="loading_dots"><span>.</span><span>.</span><span>.</span></span></h3>
                        <p data-i18n="p_peerexplorer_version_used">Version (most used)</p>
                    </div>
                    <div class="icon-smaller"><i class="fa fa-star"></i></div>
                    <div class="small-box-footer"></div>
                </div>
            </div>
        </div>     
        <div class="data-container data-loading">
            <table class="table table-striped table-hover" id="p_peerexplorer_table">
                <thead>
                    <tr>
                        <th data-i18n="p_peerexplorer_id">#</th>
                        <th data-i18n="p_peerexplorer_host">Announced Address</th>
                        <th data-i18n="p_peerexplorer_ip">Resolved IP</th>
                        <th data-i18n="p_peerexplorer_isp">Internet Service Provider</th>
                        <th data-i18n="p_peerexplorer_platform">Platform</th>
                        <th data-i18n="p_peerexplorer_weight">Weight</th>
                        <th data-i18n="p_peerexplorer_version">Version</th>                
                        <th data-i18n="p_peerexplorer_location">Location</th>
                        <th data-i18n="p_peerexplorer_lastseen">Last Seen</th>
                        <th data-i18n="p_peerexplorer_actions" style="text-align:right;">Actions</th>
                    </tr>
                </thead>
                <tbody>             
                </tbody>
            </table>
            <div class="data-loading-container"><img src="img/loading_indicator.gif" alt="Loading..." width="32" height="32" /></div>
            <div class="data-empty-container"><p data-i18n="no_peers_found">No peers found.</p></div>
        </div>
    </section>
</div>