<div class="modal fade" id="p_peerexplorer_about_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">PeerExplorer - About</h4>
            </div>
            <div class="modal-body">
                <p>PeerExplorer client plugin is your gateway for NXTs infrastructure.
                <p>Distributed under the MIT/X11 software license, see the accompanying file COPYING.
                <p>Copyright (c) 2015 The PeerExplorer developers.
                <p>Visit <a href="http://www.peerexplorer.com" target="_blank"><span data-i18n="website">PeerExplorer.com</span></a> for more information.
            </div>
            <div class="modal-footer" style="margin-top:0;">
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-i18n="close">Close</button>
            </div>
        </div>
    </div>
</div>